# Знакомство с языком Python (семинары)
## Урок 11. Jupyter Notebook и несколько слов об аналитике

#### Pandas

In [3]:
import pandas as pd

In [6]:
import warnings
warnings.filterwarnings('ignore')

1. Cчитать файл diamonds.csv в DataFrame

In [12]:
df = pd.read_csv('diamonds.csv')

2. Проверить, появились ли лишние строки/столбцы? Если да, удалить их

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  object
 3   color       53940 non-null  object
 4   clarity     53940 non-null  object
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB

In [14]:
len(df) - df.count()

Unnamed: 0    0
carat         0
cut           0
color         0
clarity       0
depth         0
table         0
price         0
x             0
y             0
z             0
dtype: int64

3. Напишите программу Pandas для чтения CSV-файла из указанного источника и печати первых 5 строк.

In [15]:
df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

4. Напишите функцию для чтения набора данных из бриллианта DataFrame; на вход подаётся индекс, на выходе получаем информацию в формате серии

5. Напишите программу Pandas, чтобы отфильтровать строки DataFrame так, чтобы вес в каратах составлял не менее 0,3.

In [18]:
df_gr_03carat = df.loc[df['carat'] >= 0.3]
# df_gr_03carat.describe()

6. Напишите программу Pandas, чтобы найти детали бриллиантов, где длина> 5, ширина> 5 и глубина> 5

In [20]:
df_x5_y5_z5 = df.loc[(df['x'] >= 5) & (df['y'] >= 5) & (df['z'] >= 5)]
df_x5_y5_z5.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
11778,11779,1.83,Fair,J,I1,70.0,58.0,5083,7.34,7.28,5.12
13002,13003,2.14,Fair,J,I1,69.4,57.0,5405,7.74,7.70,5.36
13118,13119,2.15,Fair,J,I1,65.5,57.0,5430,8.01,7.95,5.23
13562,13563,1.96,Fair,F,I1,66.6,60.0,5554,7.59,7.56,5.04
13757,13758,2.22,Fair,J,I1,66.7,56.0,5607,8.04,8.02,5.36

#### SymPy


$f(x) = -12x^4*sin(cos(x)) - 18x^3+5x^2 + 10x - 30 $

    1. Определить корни
    2. Найти интервалы, на которых функция возрастает
    3. Найти интервалы, на которых функция убывает
    4. Построить график
    5. Вычислить вершину
    6. Определить промежутки, на котором f > 0
    7. Определить промежутки, на котором f < 0